<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wgz.com.cx_ga_project">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".app"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="wgz.com.cx_ga_project.base.CustomCachingGlideModule"
            android:value="GlideModule" />

        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SchedulingActivity"
            android:label="@string/title_activity_scheduling"
            android:theme="@style/AppTheme.NoActionBar_notrans" />
        <activity
            android:name=".activity.WorkLogActivity"
            android:theme="@style/AppTheme.NoActionBar_notrans" />
        <activity
            android:name=".activity.MySubordinateLogAcitvity"
            android:theme="@style/AppTheme.NoActionBar_notrans" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_scheduling"
            android:theme="@style/AppTheme.NoActionBar_notrans" />
        <activity
            android:name=".activity.AddWorkLogActivity"
            android:label="@string/title_activity_add_work_log"
            android:theme="@style/AppTheme.NoActionBar_notrans" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="登录" />
        <activity
            android:name=".base.BaseActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.SelectFileUploadActivity"
            android:label="@string/title_activity_select_file_upload"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.WorkMagActivity"
            android:label="@string/title_activity_work_mag"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MyWorkApplyActivity"
            android:label="@string/title_activity_my_work_apply"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AskForLeaveActivity"
            android:label="@string/title_activity_ask_for_leave"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AskForJiabanActivity"
            android:label="@string/title_activity_ask_for_jiaban"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.JiabanLeaveDetilActivity"
            android:label="@string/title_activity_jiaban_leave_detil"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MySubordinateActivity"
            android:label="@string/title_activity_my_subordinate"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MyApprovalActivity"
            android:label="@string/title_activity_my_approval"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>